<h1>Main Page (Map)</h1>


<a href="http://localhost:3000/static_pages/landing">Landing Page</a>
<br>
<br>

<p>Main functionality (maps, dials to choose options, etc) go below</p>


<div id='map-one' class='map'> </div>




