<h1>Find a Secure Bike Location Near You</h1>

<br>
<br>
<p>Insert a simple form below where the user can type an address. After the user clicks submit, he is taken to the home page where his map is displayed</p>

<a href="http://localhost:3000/static_pages/home">Main Page</a>
